body{
  background-image:url("../imgs/Logo_background_light.png");
  background-repeat:no-repeat;
  background-position:right;
  background-attachment:fixed;
  background-size:contain;
}

main{
  width:75%;
  margin:0 auto 10em auto;
  text-align:center;
}

h1{
  text-align:center;
  width:50%;
  font-family:"Pt Sans Narrow";
  margin:0 auto 0 auto;
  letter-spacing:8px;
  font-size:4em;
}

main a{
  color:#ff3399;
  text-decoration:none;
}
main a:hover{
  font-weight:bold;
}

main p{
  font-size:20px;
}

.dropdown{
  color:#ff3399;
}
.dropdown-content{
  display:none;
  width:10em;
  height:10em;
  background-size:contain;
  background-repeat:no-repeat;
  color:black;
  background-position:center;
  border-radius:50%;
}

.dropdown:hover .dropdown-content{
  display:inline-block;
}

#circus{
  background-image:url("../imgs/flowfest.jpg");
  background-size: auto 100%;
}
#circus2{
  background-image:url("../imgs/circus.jpg");
}
#bike{
  background-image:url("../imgs/bike.png");
  background-size: auto 100%;
}

#me{
  background-image:url("../imgs/about.png");
  background-color:#fdf8c8;
}