
.blog{
  position:relative;
  width:75%;
  margin:0 auto 0 auto;
  list-style-type:none;
  text-align:center;
}

.blog a{
  text-decoration:none;
  padding: 0 80% 15em 0;
}

.blog li{
  display:inline-block;
  position: relative;
  width: 25%;
  height: 15em;
  margin:2% 2% 2% 2%;
  text-align:left;
  border-radius:10px;
  background-size:contain;
  background-repeat:no-repeat;
  background-position:center;
}

.blog li:hover{
  background-color:rgba(255, 25, 140, 0.64);
}
/*hover effects, transitions*/
ul li{
  transition: background .5s ease-in-out;
  -moz-transition: background .5s ease-in-out;
  -webkit-transition: background .5s ease-in-out;
}

span{
  position:absolute;
  bottom:0;
  width:100%;
   color: white;
   background: rgba(60, 0, 77, 0.7);
   padding: 0%;
   font-size:15px;
  border-radius:10px;
  padding:0 1px 0 1px;
}

h2{
  margin:0;
}

#git{
  background-image:url("../blog/imgs/github-cat.png");
  background-size:contain;
}

#css{
  background-image:url("../blog/imgs/ohhaielements.png");
}

#hash{
  background-image:url("../blog/imgs/feelthebern.png");
}

#enumerable{
  background-image:url("../blog/imgs/money.png");
}

#classes{
  background-image:url("../blog/imgs/unicorn.png");
}

#template{
  background-image:url("../blog/imgs/sample-image.png");
}