@media only screen and (max-device-width: 740px){

.main_nav{
  float:left;
  background-color:white;
  padding:0;
  max-width:200px;
}

.main_nav ul{
  background-color:white;
  position:relative;
}

.main_nav li{
  display:block;
  height:100px;
  width:100px;
  position:relative;
  z-index:4;
  background-color:#f4ccff;
}
.main_nav li a{
  position:relative;
}
#first{
  background-image:url("../imgs/icons/home_small.png");
  background-size:contain;
  background-color:#f4ccff;
}

#second{
  background-image:url("../imgs/icons/about_small.png");
  background-size:contain;
}
#third{
  background-image:url("../imgs/icons/blog_small.png");
  background-size:contain;
}
#fourth{
  background-image:url("../imgs/icons/projects_small.png");
  background-size:contain;
}
#resume{
  background-image:url("../imgs/icons/resume_small.png");
  background-size:contain;
  background-color:#66ffd9;
}
#contact{
  background-image:url("../imgs/icons/contact_small.png");
  background-size:contain;
  background-color:#66ffd9;
}

header{
  letter-spacing: 7px;
  font-size:2em;
}

main{
  font-size:2em;
}

aside{
  display:none;
}

}