
html{
  font-family:"Pt Sans Narrow";
  color:#404040;
  font-size:1em;
  letter-spacing:2px;
}
header{
  position:relative;
  text-align:center;
  top:140px;
}
h1{
  font-size:2em;
  margin-bottom:1%;
}
h2{
  font-size:1.5em;
  margin-top:1%;
}
figure{
  width:30%;
  margin:10px 40px 10px 10px;
  display: inline-block;
  float: left;
}
figure img{
  max-width:100%;
  position:relative;
  float:bottom;
  margin:10px 10px 10px 10px;
}
figcaption{
  float:left;
  color:gray;
}
main{
  position:relative;
  max-width:70%;
  top:130px;
  margin-bottom:20%;
  float:left;
  margin-left:5%;
}
aside{
  position:fixed;
  display:inline-block;
  max-width:20%;
  top:40%;
  left:80%;
  text-align:left;
  overflow-y:scroll;
  height:40%;
}
aside h2{
  margin:0 0 0 0;
  padding:10px;
}
aside li{
  margin:10px 0 10px 0;
  height:25%;
}
aside li a{
  padding:10px 0 10px 0;
}
aside li{
  text-align:left;
  padding:0px;
  line-height:2.5;
}
main a{
  color:#ff3399;
  text-decoration:none;
}
main a:hover{
  font-weight:bold;
}
img{
  max-width:70%;
}