header{
  width:80%;
  margin:0 auto 0 auto;
}
h1{
  font-size:2em;
  margin-bottom:1%;
}
h2{
  font-size:1.5em;
  margin-top:1%;
}
figure{
  width:30%;
  margin:10px 40px 10px 10px;
  display: inline-block;
  float: left;
}
figure img{
  max-width:100%;
  position:relative;
  float:bottom;
  margin:10px 10px 10px 10px;
}
figcaption{
  float:left;
  color:gray;
}
main{
  position:relative;
  max-width:70%;
  margin-bottom:20%;
  float:left;
  margin-left:5%;
  text-align:left;
}
aside{
  position:fixed;
  display:inline-block;
  max-width:20%;
  top:40%;
  left:80%;
  text-align:left;
  overflow-y:scroll;
  height:40%;
  background-color:rgb(249,230,255);
  border-radius:20px;
}
aside h2{
  margin:0 0 0 0;
  padding:10px;
}

aside li{
  margin:10px 0 10px 0;
  height:25%;

}
aside li a{
  padding:10px 0 10px 0;
  border-radius:10px;
  color:black;
}
aside li{
  text-align:left;
  padding:0px;
  line-height:2.5;
}
main a{
  color:#ff3399;
  text-decoration:none;
}
main a:hover{
  font-weight:bold;
}
img{
  max-width:70%;
}
aside ul li a{
  transition: border .5s ease-in-out;
  -moz-transition: border .5s ease-in-out;
  -webkit-transition: border .5s ease-in-out;
  transition: background-color .5s ease-in-out;
  -moz-transition: background-color .5s ease-in-out;
  -webkit-transition: background-color .5s ease-in-out;
}
aside a:hover{
  color:#ff3399;
  border:1px solid #ff3399;
  background-color:white;
}
.important-link:hover{
  color:white;
  background-color:rgba(61, 4, 31, 0.59);
}

.important-link{
  transition: background .5s ease-in-out;
  -moz-transition: background .5s ease-in-out;
  -webkit-transition: background .5s ease-in-out;
}

#tabs{
  width:80%;
}
#tabs li{
  width:5em;
  height:5em;
  border-radius:50%;
  margin:2% 3%  2%  3%;
  padding:0;
  background-color:rgb(249,230,255);
  display:inline-block;
  text-align:center;
  background-size:contain;
}
#previous{
  float:left;
  background-image:url("../imgs/icons/previous.png");
}

#next{
  float:right;
  background-image:url("../imgs/icons/next.png");
}

#tabs li a{
  color:transparent;
  padding:20px;
  float:right;
}