@media only screen and (max-device-width: 740px){

header{
  letter-spacing: 7px;
  font-size:2em;
  margin:0 200px 0 200px;
}
main{
  margin:0 200px 100px 200px;
}

figure{
  width:100%;
}
figcaption{
  font-size:1em;
}


aside{
  display:none;
}

#tab li{
  height:100px;
  width:100px;
}

#long_title{
  word-break: break-all;
}

footer{
  position:static;
}

}