/*add fonts*/
@font-face{
  font-family:"Pt Sans Narrow";
  src:url("../fonts/PT-Sans/PTN57F.ttf");
}
html{
  font-family:"Pt Sans Narrow";
}
/*background image*/
body{
  background-image:url("../imgs/snakes.png");
  background-repeat:no-repeat;
  background-position:right;
  background-attachment:fixed;
  background-size:contain;
}


.contact{
  width:50%;
  margin:0 auto 0 auto;

}
.contact li{
  display:inline-block;
  list-style-type: none;
  text-align:center;
  padding:10px;
  height:6em;
  width:6em;
  border-radius:50%;
  background-color: #bfff80;
  margin: 2% 5% 2% 5%;
}


#call{
  background-image:url("../imgs/icons/contact.png");
  background-size:contain;
}

#email{
  background-image:url("../imgs/icons/email.png");
  background-size:contain;
}
#linkedin{
  background-image:url("../imgs/icons/linkedin.png");
  background-size:contain;
}
#github{
  background-image:url("../imgs/icons/projects.png");
  background-size:contain;
}
.contact li a{
  text-decoration:none;
  color:transparent;
  padding:25px;
  letter-spacing:6px;
  font-size: 1.5em;
  float:left;
}
.contact li a:hover{
  color:#1b1221;
}

footer{
  color:black;
  letter-spacing:6px;
  font-size: 1em;
  text-align:center;
  width:100%;
  position:fixed;
  bottom:0%;
  background-color:white;
}
footer a{
  text-decoration:none;
  color: black;
}
