/*add fonts*/
@font-face{
  font-family:"Pt Sans Narrow";
  src:url("../fonts/PT-Sans/PTN57F.ttf");
}
html{
  font-family:"Pt Sans Narrow";
}

body{
  background-image:url("../imgs/octopus_hand_2.png");
  background-repeat:no-repeat;
  background-position:right;
  background-attachment:fixed;
  background-size:contain;
}


nav{
  width:100%;
  text-align:center;
  background-color:rgba(255,255,255, .8);
}

ul{
list-style-type:none;
}

nav ul li{
  display:none;
  width:5em;
  height:5em;
  border-radius:50%;
  /*margin:2% 7%  2%  7%;*/
  margin:2% 3%  2%  3%;
  padding:0;
  background-color:rgb(249,230,255);
  float:left;
}

#first{
  background-color:rgba(249, 230, 255,.7);
  background-image:url("../imgs/Logo_2.png");
  background-size:contain;
  background-repeat:no-repeat;
}

#second{
  background-image:url("../imgs/icons/about.png");
  background-size:contain;
}


#third{
  background-image:url("../imgs/icons/blog.png");
  background-size:contain;
}


#fourth{
  background-image:url("../imgs/icons/projects.png");
  background-size:contain;
}


#resume{
  /*display:none*/
  background-image:url("../imgs/icons/resume.png");
  background-size:contain;
}
#contact{
  /*display:none*/
  background-image:url("../imgs/icons/contact.png");
  background-size:contain;
}



nav li a{
  text-decoration:none;
  color:transparent;
  padding:25px;
  margin:5% 0 5% 0;
  border:1px solid transparent;
  float:left;
}


/*main text positioning*/
main{
  text-align:center;
  top:40%;
  right:0;
  bottom:0;
  left:0;
}

/*h1 text formatting*/
h1{
  text-align:center;
  color:#330026;
  clear:both;
  width:100%;
  font-family:"Pt Sans Narrow";
  letter-spacing:8px;
  font-size:4em;
  background-color: rgba(255,255,255,.8);
}

/*main button positioning and text formatting*/

.main-buttons{
  width:100%;
}

.main-buttons li{
  display:inline-block;
  list-style-type: none;
  padding:10px;
  height:6em;
  width:6em;
  border-radius:50%;
  background-color: #bfff80;
  margin: 2% 5% 2% 5%;
}


#contact_main{
  background-image:url("../imgs/icons/contact.png");
  background-size:contain;
}

#resume_main{
  background-image:url("../imgs/icons/resume.png");
  background-size:contain;
}
.main-buttons li a{
  text-decoration:none;
  color:transparent;
  padding:25px;
  float:left;
  font-size:1.5em;
  vertical-align: middle;
}


/*footer positioning and text formatting*/
footer{
  color:black;
  letter-spacing:6px;
  font-size: 1em;
  text-align:center;
  width:100%;
  position:fixed;
  bottom:0%;
  background-color:white;
}
footer a{
  text-decoration:none;
  color: black;
}


