@media only screen and (max-device-width: 740px){

body{
  background-image:none;
  background-color:white;
}
nav{
  position:relative;
  top:20em;
  background-image:url("../imgs/Logo_background_2.png");
  background-size:contain;
  background-repeat:no-repeat;
  margin-bottom:10em;
}
.transition{
  position:relative;
  width:100%;
  border-radius:50%;
  border-color:#f6d7ff;
  border-width:20px;
  border-style:solid;
  width: 40em;
  height: 40em;
  padding: 2.8em;
  background-color:none;
  margin:0;
  z-index: 1
}

nav ul li{
  display:block;
  position:relative;
  width:4em;
  height:4em;
  left:50%;
  border-radius:50%;
  margin:5%;
  padding:5%;
  vertical-align:middle;
}
nav ul li a{
  position:absolute;
  border:none;
  color:#1b1221;
  letter-spacing: .75em;
  animation-duration: 3s;
  animation-name: slideout;
}

@keyframes slideout{
  from{
    letter-spacing:0em;

  }
  to{
    letter-spacing: .75em;
  }
}
#first{
  background-color:#f6d7ff;
  transform: translate(12em);
  background-image:url("../imgs/icons/home.png");
  background-size:contain;
}

#second{
  background-color:#f4ccff;
  transform: translate(17em);
  background-image:url("../imgs/icons/about.png");
  background-size:contain;
}
#third{
  transform: translate(17em);
  background-color:#eeb3ff;
  background-image:url("../imgs/icons/blog.png");
  background-size:contain;
}
#fourth{
  transform: translate(12em,-2em);
  background-color:#e999ff;
  background-image:url("../imgs/icons/projects.png");
  background-size:contain;
}
#resume{
  display:block;
  background-color:#e380ff;
  transform: translate(5em,-6em);;
  background-image:url("../imgs/icons/resume.png");
  background-size:contain;
}
#contact{
  display:block;
  background-color:#66ffd9;
  transform: translate(-5em,-13em);
  background-image:url("../imgs/icons/contact.png");
  background-size:contain;
}
main{
  position:absolute;
  top:0;
}
ul.main-buttons li{
  border-radius:50%;
  width:2em;
  height:2em;
  margin:5%;
  padding:5%;
}

#contact_main{
  display:none;
}
#resume_main{
  display:none;
}
ul.main-buttons li a{
  background-color:none;
  border: none;
}

footer{
  position:fixed;
  bottom:0;
  font-size: 2em;
  z-index: -1;
}