body{
  background-image:url("../imgs/leafgirl.png");
  background-repeat:no-repeat;
  background-position:bottom;
  background-attachment:fixed;
  background-size:contain;
}
h1{
  background-color:transparent;
  text-align:center;
  width:100%;
  font-family:"Pt Sans Narrow";
  margin:0 auto 0 auto;
  letter-spacing:8px;
  font-size:4em;
}
#resume{
  display:inline-block;
  background-color:#dfff80;
  background-image:url("../imgs/icons/resume.png");
  background-size:contain;
}
#contact{
  display:inline-block;
  background-color:#dfff80;
  background-image:url("../imgs/icons/contact.png");
  background-size:contain;
}
.projects{
  width:80%;
  margin:0 auto 0 auto;
  text-align:center;

}
.projects li{
  display:inline-block;
  list-style-type: none;
  text-align:center;
  padding:10px;
  height:6em;
  width:6em;
  border-radius:50%;
  background-color: #bfff80;
  margin: 2% 5% 2% 5%;
  background-repeat:no-repeat;
  background-position:center;
}
.projects li:hover{
  background-color: #80ffff;
}

#game{
  background-image:url("../projects/game/pup.png");
  background-size:contain;
}

#cheetsheet{
  background-image:url("../projects/javascript.jpg");
  background-size:contain;
}
#grocery{
  background-image:url("../projects/grocery_list/screenshot.png");
  background-size:contain;
}
#github{
  background-image:url("../imgs/icons/projects.png");
  background-size:contain;
}
.projects li a{
  text-decoration:none;
  color:transparent;
  padding:25px;
  letter-spacing:8px;
  font-size: 2em;
  float:left;
}
.projects li a:hover{
  color:#1b1221;
  animation-duration: .5s;
  animation-name: slideout_2;
}

@keyframes slideout_2{
  from{
    letter-spacing:1px;

  }
  to{
    letter-spacing: 8px;
  }
}