/*default*/
/*add fonts*/

@font-face{
  font-family:"Pt Sans Narrow";
  src:url("../fonts/PT-Sans/PTN57F.ttf");
}
html{
  font-family:"Pt Sans Narrow";
  color:#404040;
}
/*navigation menu*/

ul{
  list-style-type:none;
}
li a{
  border:1px solid transparent;
  text-decoration:none;
}
/*main nav menu*/
.main_nav {
  width:100%;
  text-align:center;
  background-color:rgba(255,255,255, .8);
}

.main_nav li{
  display:none;
  width:5em;
  height:5em;
  border-radius:50%;
  margin:2% 3%  2%  3%;
  padding:0;
  background-color:rgb(249,230,255);
  float:left;
}

#first{
  background-color:rgba(249, 230, 255,.7);
  background-image:url("../imgs/Logo_2.png");
  background-size:contain;
  background-repeat:no-repeat;
}

#second{
  background-image:url("../imgs/icons/about.png");
  background-size:contain;
}

#third{
  background-image:url("../imgs/icons/blog.png");
  background-size:contain;
}


#fourth{
  background-image:url("../imgs/icons/projects.png");
  background-size:contain;
}


#resume{
  background-color:#dfff80;
  background-image:url("../imgs/icons/resume.png");
  background-size:contain;
}
#contact{
  background-color:#dfff80;
  background-image:url("../imgs/icons/contact.png");
  background-size:contain;
}


.main_nav li a{
  text-decoration:none;
  color:transparent;
  padding:25px;
  margin:5% 0 5% 0;
  border:1px solid transparent;
  float:left;
}

main{
  text-align:center;
  margin: 0 auto 10em auto;
}

header{
  text-align:center;
}

h1{
  font-size:4em;
  letter-spacing:8px;
  font-size:4em;
  clear:both;
}

.important-link{
  text-decoration:none;
  color:#ff3399;
  text-align: center;
  border:1px solid #ff3399;
}

footer{
  font-family:"Pt Sans Narrow";
  color:black;
  letter-spacing:6px;
  font-size: 1em;
  text-align:center;
  width:100%;
  position:fixed;
  bottom:0%;
  background-color:white;
}
footer a{
  text-decoration:none;
  color: black;
}
/*end default*/